flows (11).json
[{"id":"903a8a75.c814a8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c3077698.1f60b8","type":"ui_form","z":"903a8a75.c814a8","name":"","label":"","group":"de4835dd.3d6508","order":1,"width":0,"height":0,"options":[{"label":"preg","value":"p","type":"number","required":true,"rows":null},{"label":" plas","value":"pl","type":"number","required":true,"rows":null},{"label":"pres","value":"pr","type":"number","required":true,"rows":null},{"label":"Skin ","value":"s","type":"number","required":true,"rows":null},{"label":"test","value":"t","type":"number","required":true,"rows":null},{"label":"mass","value":"m","type":"number","required":true,"rows":null},{"label":"pedi","value":"pe","type":"number","required":true,"rows":null},{"label":"age","value":"a","type":"number","required":true,"rows":null}],"formValue":{"p":"","pl":"","pr":"","s":"","t":"","m":"","pe":"","a":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":280,"wires":[["3a7f8360.5298ac","2770dfbc.e93ca"]]},{"id":"3a7f8360.5298ac","type":"debug","z":"903a8a75.c814a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":250,"y":360,"wires":[]},{"id":"2770dfbc.e93ca","type":"function","z":"903a8a75.c814a8","name":"pre-token","func":"global.set(\"p\",msg.payload.p)\nglobal.set(\"pl\",msg.payload.pl)\nglobal.set(\"pr\",msg.payload.pr)\nglobal.set(\"s\",msg.payload.s)\nglobal.set(\"t\",msg.payload.t)\nglobal.set(\"m\",msg.payload.m)\nglobal.set(\"pe\",msg.payload.pe)\nglobal.set(\"a\",msg.payload.a)\nvar apikey=\"wzJfMjpLlvM1Ta31pnzmzetCK9oo8duUP7N4Q2yc6gR4\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":220,"wires":[["32c483d.430857c"]]},{"id":"32c483d.430857c","type":"http request","z":"903a8a75.c814a8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":412.00000381469727,"y":264.00000286102295,"wires":[["e099eb89.aa4258","aba60e90.7c137"]]},{"id":"e099eb89.aa4258","type":"debug","z":"903a8a75.c814a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":320,"wires":[]},{"id":"aba60e90.7c137","type":"function","z":"903a8a75.c814a8","name":"Pre Prediction","func":"var p = global.get(\"p\")\nvar pl = global.get(\"pl\")\nvar pr = global.get(\"pr\")\nvar s = global.get(\"s\")\nvar t = global.get(\"t\")\nvar m = global.get(\"m\")\nvar pe = global.get(\"pe\")\nvar a = global.get(\"a\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"preg\", \" plas\", \"pres\", \"Skin\", \"test\", \"mass\",\"pedi\", \"age\" ]],\"values\": [[p,pl,pr,s,t,m,p,a]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":604.0000076293945,"y":216.0000021457672,"wires":[["10c118b8.ecef17"]]},{"id":"10c118b8.ecef17","type":"http request","z":"903a8a75.c814a8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/117ed57c-184d-483e-a5b8-2bc5c83e1374/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":830,"y":240,"wires":[["9ff10849.8c96a8","115cea0c.d78446"]]},{"id":"9ff10849.8c96a8","type":"debug","z":"903a8a75.c814a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":982.9999914169312,"y":324.00000381469727,"wires":[]},{"id":"6ae67dcc.416e94","type":"inject","z":"903a8a75.c814a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":120,"wires":[["2770dfbc.e93ca"]]},{"id":"7e4eed17.357514","type":"debug","z":"903a8a75.c814a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":813.9999885559082,"y":107.0000057220459,"wires":[]},{"id":"115cea0c.d78446","type":"function","z":"903a8a75.c814a8","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":659.6000595092773,"y":148.00000190734863,"wires":[["7e4eed17.357514","c93e1b4c.8f1998"]]},{"id":"c93e1b4c.8f1998","type":"ui_text","z":"903a8a75.c814a8","group":"de4835dd.3d6508","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":777.6000366210938,"y":381.20001220703125,"wires":[]},{"id":"de4835dd.3d6508","type":"ui_group","z":"","name":"New","tab":"56be333f.3550fc","order":1,"disp":true,"width":"6","collapse":false},{"id":"56be333f.3550fc","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]